[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
pudb = "*"

[packages]
fiona = "*"
shapely = {extras = ["vectorized"],version = "*"}
geomet = "*"
pyyaml = "*"
requests = "*"
lxml = "*"

[requires]
python_version = "3.7"
